*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
}

header{
    width: 100%;
    height: 90px;
    background-image: linear-gradient(#0087ef, #6ad3fd);  
}

.interior{
    max-width: 100%;
    padding: 0 10px;
    margin: auto;
}

.logo{
    float: left;
    padding: 5px 20px 0;
}

.logoNav img{
    height: 80px;
}

.logo img:hover{
    transform: scale(1.1);
}

.navegacion{
    float: right;
    display: flex;
    align-items: center;
    min-height: 90px;
    z-index: 1000;
}

.navegacion ul{
    list-style: none;
    padding: 0 10px;
}

.navegacion ul li{
    display: inline-block;
    position: relative;
    transition: .3s linear;
    z-index: 1000;
}

.navegacion ul li:hover{
    transform: scale(1.1);
}

.navegacion ul li a{
    color: #ffff;
    text-align: center;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: bold;
    padding: 12px 20px;
    transition: .3s linear;
}

.navegacion ul li a:hover{
    color: #0544B9;
    transform: scale(1.1);
}

.navegacion ul li:hover .hijos{
    display: block;
}

.navegacion .submenu .hijos{
    display: none;
    background: #0b132b;
    position: absolute;
    width: 100%;
}

.navegacion .submenu .hijos li{
    display: block;
    overflow: hidden;
    border-bottom: none;
}

.navegacion .submenu .hijos li a{
    display: block;
}

  .dropdown-item {
    color: #05b92c;
    background-color: #05b92c;
    padding: 10px 500px;
  }
  

  .sidebar {
    height: 100%;
    width: 200px;
    position: fixed;
    z-index: 1;
    top: 100px; /* Ajuste para separar de la barra superior */
    left: 0;
    background-color: #f1f1f3;
    overflow-x: hidden;
    padding-top: 20px;
  }
  
  .sidebar a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 20px;
    display: block;
  }
  
  .sidebar a:hover {
    background-color: #ddd;
    color: black;
  }
  
  .main {
    margin-left: 200px;
    padding: 20px;
  }
  